{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <h2>Created Blogs</h2>
    <table class="table table-headed">
        <thead>
            <tr>
                <th>{{ "Title" }}</th>
                <th>{{ "Author" }}</th>
                <th>{{ "Created By" }}</th>
                <th>{{ "Date Created" }}</th>
                <th>{{ "Status" }}</th>
                <th>{{ "" }}</th>
            </tr>
        </thead>
        <tbody>
            {% for items in object -%}
            <tr>
                {# for item in items #}
                    <td><Strong>{{ items.title|e }}</Strong></td>
                    <td>{{ items.author|e }}</td>
                    <td>{{ items.created_by|e }}</td>
                    <td>{{ items.created.strftime('%Y-%m-%d %H:%M:%S')|e }}</td>
                    {% if items.is_live %}
                        <td style="color:green;"><Strong>{{ "Active" }}</Strong></td>
                    {% else %}
                        <td style="color:red;"><Strong>{{ "Inactive" }}</Strong></td>
                    {% endif %}             
                    <td><a href="{{ url_for('blog:view_blog', blog_id=items.id) }}" class="button button-safe">View</a>
                    <a href="{{ url_for('blog:edit_blog', blog_id=items.id) }}" class="button button-danger">Edit</a></td>
                {# endfor #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('blog:create_blog') }}" class="button button-primary">Create New Blog</a>
</div>
{% endblock %}
