{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <h2>Created Blogs</h2>
    <table class="table table-headed">
        <thead>
            <tr>
                <th>{{ "Title" }}</th>
                <th>{{ "Author" }}</th>
                <th>{{ "Created By" }}</th>
                <th>{{ "Date Created" }}</th>
                <th>{{ "Status" }}</th>
                <th>{{ "Update" }}</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs -%}
            <tr>
                {# for item in blog #}
                    <td><Strong>{{ blog.title|e }}</Strong></td>
                    <td>{{ blog.author|e }}</td>
                    <td>{{ blog.created_by|e }}</td>
                    <td>{{ blog.created.strftime('%Y-%m-%d %H:%M:%S')|e }}</td>
                    {% if blog.is_live %}
                        <td style="color:green;"><Strong>{{ "Active" }}</Strong></td>
                    {% else %}
                        <td style="color:red;"><Strong>{{ "Inactive" }}</Strong></td>
                    {% endif %}             
                    <td><a href="{{ url_for('blog:view_blog', blog_id=blog.id) }}" class="button button-secondary">View</a></td>
                {# endfor #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('blog:create_blog') }}" class="button button-primary">Create New Blog</a>
</div>
{% endblock %}
