{% extends "base.html" %}

{% block content %}
<div class="container-fluid"></div>
    <div class="container my-1h">
        <br></br>
        <h1>Warning! Are you sure you wish to delete this Blog?</h1>
        <p><em>You will not be able to undo this action.</em></p>
        <table class="table table-headed">
            <thead>
                <tr>
                    <th>{{ "Title" }}</th>
                    <th>{{ "Author" }}</th>
                    <th>{{ "Description" }}</th>
                    <th>{{ "Status" }}</th>
                    <th>{{ "Date Created" }}</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ object.title }}</td>
                <td>{{ object.author }}</td>
                <td>{{ object.meta_description }}</td>
                    {% if object.is_live %}
                        <td>{{ "Active" }}</td>
                    {% else %}
                        <td>{{ "Inactive" }}</td>
                    {% endif %}
                <td>{{ object.created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            <tbody>
        </table>
        <a style="float: left" href="{{ url_for('blog:blog_admin') }}"  class="button button-safe">Cancel</a>
        <form method=POST> 
            <button style="float: right" type="submit" class="button button-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}