{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="container my-1h">
                <h1>Review Blog</h1>
            </div>
            </br>
            <form method="post" novalidate>
                
                {% for field in form %}

                    <div class="field-wrapper {% if field.errors %}field-error{% endif %}">
                        {% if field.type == "BooleanField" %}
                        </br>
                            {% if not msg == "none" %}
                                <h3 style="color:red;">{{ msg }}</h3>
                            {% endif %}
                            <div class="checkbox">
                                <label for="{{ field.od }}">
                                    {{ field }}{{ field.label.text }}
                                </label>
                            </div>                                
                        {% else %}
                            {{ field.label }}
                            {{ field }}
                        {% endif %}
                        {% if field.errors %}
                            <cite class="d-block c-red mb-1h">{{ field.errors|join(' ') }}</cite>
                        {% elif field.description %}
                            <cite class="d-block muted mb-h">{{ field.description|safe }}</cite>
                        {% endif %}
                    </div>

                {% endfor %}

                </br>
                <button style="float: left" type="submit" class="button button-safe">Save</button>
                <a style="float: right" href="{{ url_for('blog:delete_blog', blog_id=blog.id) }}"  class="button button-danger">Delete</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}