{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="container my-1h">
        <h1>{{ object.title }}</h1>
        <h3>{{ object.meta_description }}</h3>
        
        <body>
            <p>{{ object.post_body }}</p>
        </body>
        
        <footer>
            <p>By {{ object.author }}</p>
            <p>{{ object.created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        </footer>
        <a href="{{ url_for('blog:blog_admin') }}"  class="button button-safe">Back</a>
    </div>
</div>
{% endblock %}